* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 85px;
}

.padding {
    padding: 70px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

a:hover {
    color: #2A92D3;
}

.header .container ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
}

.header .container ul li .organization-name {
    color: #092D43;
    font-weight: 800;
}

.header .container ul li p {
    max-width: 300px;
}

.header .container ul li:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .container ul li .email::before {
    content: url(../img/mail.png);
    width: 20px;
    height: 17px;    
    vertical-align: middle;
    padding-right: 15px;
}

.header .container ul li .adress {
    max-width: 270px;
    display: flex;
}

.header .container ul li .adress::before {
    content: url(../img/adress.png);
    width: 15px;
    height: 21px;
    vertical-align: middle;
    padding-right: 15px;
    clear: right;
}

.header .container ul li:last-child {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .container ul li .phone {
    color: #092D43;
    font-size: 25px;
    font-weight: 500;
}

.header .container ul li .phone::before {
    content: url(../img/phone.png);
    width: 22px;
    height: 22px;    
    vertical-align: middle;
    padding-right: 15px;
}

.header .container ul li .phone:hover {
    color: #2A92D3;
}

.header .container ul li .order-phone {
    display: block;

    margin-top: 10px;

    color: #E7505B;
    
    padding-bottom: 2px;
    border-bottom: 1px solid #E7505B;
}

.header .container ul li .order-phone:hover {
    color: #2A92D3;
}

.nav {
    background-image: url(../img/bcg1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: center;
}

.nav .container {    
    border-bottom: 2px solid #E0E6EE;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}

.nav ul li a {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    padding: 35px;    
}

.nav ul li:hover {
    box-shadow: 0 0 10px #2A92D3;
    
}

.promo {
    margin-bottom: 70px;
}

.promo .container {
    display: flex;
}

.promo-left {
    width: 60%;
}

.promo-left h2 {
    color: #092D43;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 75px;
}

.promo-left p {    
    line-height: 24px;
    margin-bottom: 75px;
}

.transition-catalog {
    display: inline-block;
    padding: 25px 75px;
    color: white;    
    background: linear-gradient(96.19deg, #2A92D3 0%, #44A6E3 100%);
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
    cursor: pointer;
}

.transition-catalog:hover {
    background: #0A5078;
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
}

.render {
    width: 40%;
    background-image: url(../img/group-render.png);
    background-size: cover;
    background-position: left;
}

.facts {
    background-image: url(../img/bcg4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    
}

.facts ul {
    display: flex;
    justify-content: space-around;    
}

.facts ul li {
    display: flex;
    flex-direction: column;
}

.facts ul li .numbers {
    font-weight: 900;
    font-size: 80px;
    line-height: 106px;
    color: #D7251D;

}

.facts ul li .numbers-description {
    font-size: 25px;
    line-height: 126%;
    max-width: 300px;
}

.about-company {
    padding-bottom: 70px;
}

.about-company .wrapper-90 {
    position: relative;
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
    background: #071B28;
    box-shadow: 0px 4px 89px 23px rgba(0, 0, 0, 0.05);    
}

.about-company h3,
.about-company p {
    color: white;
    margin-bottom: 50px;
}

.about-company h3 {
    font-weight: 800;
    font-size: 35px;
    line-height: 46px;    
    padding-left: 35px;
    border-left: 1px solid #D7251D;    
}

.about-company p {
    font-size: 24px;
    line-height: 29px;
}

.about-company a {
    color: white;
}

.about-company a:hover {
    color: #2A92D3;
}

.about-company a::after {
    content: '\2192';
    font-size: 26px;    
    padding-left: 30px;
}

.our-products h3,
.quality h3 {
    color: #092D43;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
}

.our-products .transition {
    text-align: center;
}

.quality {
    position: relative;
}

.quality h3 {
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.quality::before {
    content: url(../img/image-3.png);
    position: absolute; 
    bottom: 0;    
}

.quality-list {
    width: 90%;
    margin: 0 auto;
}

.quality-list ul {
    display: flex;
    flex-wrap: wrap;
    
}

.quality-list ul li {
    width: calc(33.3% - 50px);    
}

.quality-list ul li:not(:nth-child(3)),
.quality-list ul li:not(:nth-child(6)) {
    padding-right: 50px;
}

.quality-list ul li:nth-child(1),
.quality-list ul li:nth-child(2),
.quality-list ul li:nth-child(3) {
    margin-bottom: 100px;
}

.quality-list .square-red {
    width: 90px;
    height: 90px;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
}

.quality-list .item1 {
    background-image: url(../img/relax.png);
}

.quality-list .item2 {
    background-image: url(../img/Page.png);
}

.quality-list .item3 {
    background-image: url(../img/company.png);
}

.quality-list .item4 {
    background-image: url(../img/glyph.png);
}

.quality-list .item5 {
    background-image: url(../img/hand.png);
}

.quality-list .item6 {
    background-image: url(../img/wallet-filled-money-tool.png);
}

.quality-list p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 26px;
    color: #092D43;
}

.request .container {
    display: flex;
    align-items: center;
}

.request h4 {
    font-size: 30px;
    line-height: 42px;
    color: #092D43;
    width: 60%;
}

.culculator-link .culc {
    display: inline-block;
    padding: 25px 75px;
    color: white;    
    background: linear-gradient(96.19deg, #2A92D3 0%, #44A6E3 100%);
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
    cursor: pointer;
    text-align: center;
}

.culculator-link .culc:hover {
    background: #0A5078;
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
}

.culculator-link .culc-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
} 

.advantages {
    position: relative;
}

.advantages .container::before {
    content: '';
    background: url(../img/figure-advantages.png);
    background-repeat: no-repeat;
    width: 125px;
    height: 350px;
    background-size: contain;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.advantages .container::after {
    content: '';
    display: block;
    width: 124px;
    height: 124px;
    border: 1px solid #E0E6EE;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.advantages::after {
    content: '';
    display: block;
    width: 124px;
    height: 124px;
    border: 1px solid #E0E6EE;
    position: absolute;
    right: 6%;
    bottom: 3%;
}

.advantages h3,
.trust-us h3,
.testimonials h3  {
    font-size: 40px;
    line-height: 46px;
    color: #092D43;
    text-align: center;
    margin-bottom: 50px;
}

.advantages-list ul {
    display: flex;
    flex-wrap: wrap;
}

.advantages-list ul li {
    background-repeat: no-repeat;
    background-position: center;
    width: calc(33.33% - 75px);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-list ul li:not(:nth-child(3)),
.advantages-list ul li:not(:nth-child(6)) {
    padding-right: 75px;
}

.advantages-list ul li:nth-child(1),
.advantages-list ul li:nth-child(2),
.advantages-list ul li:nth-child(3) {
    padding-bottom: 75px;
}

.advantages-list-item1 {
    width: 74px;
    height: 74px;
    background-image: url(../img/map.png);
}

.advantages-list-item2 {
    width: 48px;
    height: 52px;
    background-image: url(../img/automatiс.png);
}

.advantages-list-item3 {
    width: 53px;
    height: 53px;
    background-image: url(../img/clock.png);
}

.advantages-list-item4 {
    width: 54px;
    height: 54px;
    background-image: url(../img/settings.png);
}

.advantages-list-item5 {
    width: 55px;
    height: 55px;
    background-image: url(../img/google-docs.png);
}

.advantages-list-item6 {
    width: 67px;
    height: 56px;
    background-image: url(../img/Group-molniya.png);
}

.advantages-list p { 
    font-size: 20px;
    line-height: 23px;
}

.trust-us ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trust-us ul li:not(:last-child) {
    margin-right: 25px;
}

.testimonials .all-rew {
    text-align: center;
}




