* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 85px;
}

.padding {
    padding: 70px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2A92D3;
}

.header .container ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
}

.header .container ul li .organization-name {
    color: #092D43;
    font-weight: 800;
}

.header .container ul li p {
    max-width: 300px;
}

.header .container ul li:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .container ul li .email::before {
    content: url(../img/mail.png);
    width: 20px;
    height: 17px;    
    vertical-align: middle;
    padding-right: 15px;
}

.header .container ul li .adress {
    max-width: 270px;
    display: flex;
}

.header .container ul li .adress::before {
    content: url(../img/adress.png);
    width: 15px;
    height: 21px;
    vertical-align: middle;
    padding-right: 15px;
    clear: right;
}

.header .container ul li:last-child {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .container ul li .phone {
    color: #092D43;
    font-size: 25px;
    font-weight: 500;
}

.header .container ul li .phone::before {
    content: url(../img/phone.png);
    width: 22px;
    height: 22px;    
    vertical-align: middle;
    padding-right: 15px;
}

.header .container ul li .phone:hover {
    color: #2A92D3;
}

.header .container ul li .order-phone {
    display: block;

    margin-top: 10px;

    color: #E7505B;
    
    padding-bottom: 2px;
    border-bottom: 1px solid #E7505B;
}

.header .container ul li .order-phone:hover {
    color: #2A92D3;
}

.nav {
    background-image: url(../img/bcg1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: center;
}

.nav .container {    
    border-bottom: 2px solid #E0E6EE;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}

.nav ul li a {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    padding: 35px;    
}

.nav ul li:hover {
    box-shadow: 0 0 10px #2A92D3;
    
}

.promo {
    margin-bottom: 70px;
}

.promo .container {
    display: flex;
}

.promo-left {
    width: 60%;
}

.promo-left h2 {
    color: #092D43;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 75px;
}

.promo-left p {    
    line-height: 24px;
    margin-bottom: 75px;
}

.promo .transition-catalog {
    display: inline-block;
    padding: 25px 75px;
    color: white;    
    background: linear-gradient(96.19deg, #2A92D3 0%, #44A6E3 100%);
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
    cursor: pointer;
}

.promo .transition-catalog:hover {
    background: #0A5078;
    box-shadow: 0px 0px 39px -1px rgba(42, 146, 211, 0.5);
}

.render {
    width: 40%;
    background-image: url(../img/group-render.png);
    background-size: cover;
    background-position: left;
}
